# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
chatlogger.db
chatlogger.db-journal
chatlogger.db-shm
chatlogger.db-wal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log
